
/* http://stackoverflow.com/questions/114543/horizontally-center-a-div-in-a-div */
.outer-center {
  text-align: center;
}
.outer-center *  {
  display: inline-block;
}

#menu-wrapper{
  background-image:  url("background.svg");
  background-size: 100% 100%; 
  /*http://stackoverflow.com/questions/1150163/stretch-and-scale-a-css-image-in-the-background-with-css-only*/
  background-position:center; 
  background-repeat: no-repeat;
  height:100%;
}


#menu {
    padding-top: 5%;
}
#menu-body {
    height:80%;
}


/*
#menu div{
    outline: #00FF00 dotted thick;
}
*/


canvas{
    position: absolute;
    top:0;
    left:0;
    /*https://developer.mozilla.org/en/docs/Web/CSS/image-rendering */
   image-rendering: pixelated;
   
}
body{
  /*TODO find a good crosshair for the cursor */
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=30925),auto;

  /* to hide scroll bars*/
  overflow: hidden;
}


#leaderboard-div ,#chat-div{
  color: black;
  font-size: 2 em;
  font-weight: bold;
  background-color:rgba(255, 255, 255, 0.35);

  padding-right:4;
  padding-left:4;
}

#chat-div{
  height:100%;  
}
.chat-user{
  width:30%;
}
.chat-message{
  width:70%;
}
#chat-div table{
  table-layout: fixed;
  word-break:break-all;
  word-wrap: break-word;
}

#chat-div h3{
  margin-top: 0;
  margin-bottom: 0;
}

#chat-div table tbody{
  position:fixed;
  height:20%;
  width:30%;
  overflow-y:auto;
  overflow-x:hidden;
}

#chat-div form{
  position:absolute;
  margin-bottom: 0;
  width:98%;
}

#leaderboard-t-body td{
  padding-right:3px;
}

/*http://stackoverflow.com/questions/2310734/how-to-make-html-text-unselectable*/
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#round-time{
  margin-top: 5px;
}