//- game ui 
//- the top left should have a leaderboard , bottom right a chat?

.row( style="height: 25%;")
    #timer-div(class="col-xs-2 col-xs-offset-5 unselectable")
        h2#round-time
            | 10:00
    #leaderboard-div( class="col-xs-2 col-xs-offset-3 unselectable")
        h3
            | Leaderboard
        table
            tbody#leaderboard-t-body

//- this row is just to make things line up
.row( style = "height:45%; width:100%")


//- this row will hold upgrade info if that makes it into the game and the chat box which I think is important when there are few players
.row(style = "height:30%;")
    #chat-div(class="col-xs-4 col-xs-offset-8")
        h3
            | Chat
        table
            tbody#messages-t-body

        form#message-form(style="bottom:0;",onsubmit="return false")
            //- onsubmit return true will reload the page so we need to turn it off
            input#message(type="text",autocomplete='off',style="width:100%",placeholder="Send message...",  maxlength="200" )
