//-extends base.pug
.row(style="height:10%")

#menu-title(class="row",style="height:20%")
    .col-sm-3
    .col-xs-6(class="outer-center")
        h1
            | TRAIN DEATH MATCH
    .col-sm-3
#menu-body(class="row",style="height:60%")
    .col-sm-1 
    .col-xs-3#advert-div(class="outer-center")
        p
            |ADVERT
    .col-xs-4(class="outer-center")
        form#usernameSelect
            input#username(type="text", placeholder="Username")
        button#play-button(type="button", class="btn btn-success",style="margin-left:5;")
            | Play Game

        #instructions
            p
                | Use WASD or the arrow keys (jk not yet) to control your train. mouse to shoot.
    .col-xs-3(class="outer-center")
        p 
            |USER INFO
    .col-sm-1
#menu-footer(class="row",style="height:10%")
    .span-6(class="outer-center") 
        | links and stuff